@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
